.player-spot-container {
  display: flex;
  flex-direction: column;
}
.player-spot {
  width: 100px;
  height: 100px;
  background-position: center;
  text-align: center;
}
.player-spot-display-name {
  height: 30px;
}
/*.player-spot:hover{
    background-position: left;
    background-size: 20%;
    transition: 400ms;
}*/
.king {
  background-image: url(/src/king-figure.svg);
  background-repeat: no-repeat;
  background-size: 50%;
}
.viking {
  background-image: url(/src/viking-figure.svg);
  background-repeat: no-repeat;
  background-size: 50%;
}
.taken {
  color: red;
}
