.player-spot-container {
  display: flex;
  flex-direction: row;
  height: 120px;
}
.player-spot {
  width: 40px;
  height: 100%;
  background-position: center;
  text-align: center;
}
.player-spot-display-name {
  height: 30px;
}
/*.player-spot:hover{
    background-position: left;
    background-size: 20%;
    transition: 400ms;
}*/
.king {
  background-image: url(/src/king-figure.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.viking {
  background-image: url(/src/viking-figure.svg);
  background-repeat: no-repeat;
  background-size: 100%;

}
.taken {
  color: red;
}
.first-move-icon{
  width: 140px;
  position: absolute;
  top:63px;
}