.board{
    display: grid;
    background-color: #000;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(11,1fr);;
    gap: 1px;
    z-index: -1;

}
