.vs-logo{
    height: 80px;
    width: 80px;
}
.room-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.room-spots-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}