.vs-logo, .vs-logo-disabled{
    height: 80px;
    width: 80px;
    cursor: pointer;
    position: absolute;
}
.vs-logo-disabled{
    cursor: default;
}

.room-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.room-spots-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}