.field {
  background-color: beige;
  transition: 300ms;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.king-only-field{
  background-color: rgb(141, 108, 108)
}
.selectable {
  background-color: rgb(238, 186, 119);
  cursor: pointer;

}
.selectable:hover {
  background-color: burlywood;
}

.selected {
  background-color: rgb(255, 0, 0);
}
.selected:hover {
  background-color: rgb(255, 0, 0);
}
