.field {
  background-color: beige;
  transition: 300ms;
  height: 100%;
}
.field:hover {
  background-color: burlywood;
}
.selectable {
    box-shadow: 0 0 40px 20px #0ff;
  }
  
.selected {
  background-color: burlywood;
}
