.field {
  background-color: beige;
  transition: 300ms;
  height: 100%;
}
.selectable {
  background-color: rgb(238, 186, 119);

}
.selectable:hover {
  background-color: burlywood;
}

.selected {
  background-color: rgb(255, 0, 0);
}
.selected:hover {
  background-color: rgb(255, 0, 0);
}
