.guide-item-container {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  transition: 400ms;
}
.guide-item-image {
  width: 100%;
}
.guide-item-header {
  font-size: 1rem;
}
.guide-item-container-selected{
    box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-8px);
    transition: 400ms;
}
.guide-item-container-not-selected {
    transition: 400ms;
  }

  .guide-item-container-selected:hover {
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
