.guide-contrainer {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.guide-header {
    text-align: center;

}
@media only screen and (max-width: 600px) {
  .guide-contrainer {
    width: 100%;
    padding: 0px;
  }
}